.notfound {
  background: #7E6AF3 url('../../img/icons/notfound/bg.svg') no-repeat center;
  background-size: cover;
  padding-top: 175px;
  padding-bottom: 185px;

  &__title {
    margin-left: 189px;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
  }

  &__desc {
    width: 100%;
    max-width: 447px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
    margin-left: 189px;
    margin-bottom: 50px;
  }

  &__back {
    border: none;
    background-color: #fff;
    margin-left: 189px;
    padding: 12px 24px;
    background-color: #FFD54F;
    border-radius: 33px;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1E2123;
    text-decoration: none;
    display: inline;

    &::before {
      width: 12px;
      height: 12px;
      content: url('../../img/icons/notfound/back.svg');
      margin-right: 10px;
    }
  }
}
