.page {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
